#productCards {
    padding: 15px;
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

#productCards .card {
    border-radius: 20px;
    margin: 10px;
    img {
        height: 300px;
        object-fit: contain;
        padding: 10px;
        background-color: #f1f5f9;
        border-radius: 20px;
    }

    .card-category {
        font-size: 15px;
        font-weight: 500;
        color: gray;
    }

    span {
        background-color: white;
        /* background-color: #165057; */
        outline: none;
        border: 2px solid #165057;
        color: #165057;
        border-radius: 25px;
    }

    span:hover {
        background-color: #165057;
        color: white;
    }

    .card-price {
        font-weight: bold;
    }
}
