@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.hide {
  display: none;
}

.show {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  span:hover {
    cursor: pointer;
  }
}

header {
  width: 100%;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #2b97a4;
  padding: 10px 50px;
}

#logo img {
  height: 60px;
}

#searchbar {
  display: flex;
  transform: translateX(20px);

  input {
    width: 450px;
    padding: 0px 30px;
    border: none;
    border-radius: 22px;
    font-size: 13px;
    height: 40px;
  }

  span {
    background-color: #1a1d29;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transform: translateX(-40px);
  }

  span:hover {
    cursor: pointer;
  }
}

#cart {
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .fa-cart-shopping {
    margin-right: 10px;
  }

  .fa-cart-shopping:hover {
    cursor: pointer;
  }

  #amount {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: rgb(171, 244, 255);
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 70px;
  background-color: #e7f1f4;
}

#navbar #navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 25px;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-item a:hover {
  text-decoration: underline;
}

.nav-item i {
  margin-right: 8px;
}

#consult {
  background-color: #155b63;
  padding: 5px 10px;
  border-radius: 20px;
  color: white;
}

#consult:hover {
  background-color: #2b97a4;
  color: white;
}

#banner {
  margin: 20px;

  img {
    border-radius: 10px;
  }
}

#exploreCards {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

.exploreCard {
  background-color: #d3d3ef;
  text-align: center;
  padding: 40px;
  border-radius: 10px;
}

#content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0px 50px;
  margin: 30px 0px;
  justify-content: space-evenly;
}

#about {
  width: 60%;
  h2 {
    text-decoration: underline;
  }
}

#howto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  background-color: #dffcff;
  border: 3px solid #2b97a4;

  .step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;

    span {
      background-color: #092124;
      color: white;
      margin: 0px 7px;
      border-radius: 100%;
      height: 30px;
      width: 30px;
      text-align: center;
      font-weight: 650;
    }
  }
}

#orderby {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
}

#concern,
#brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .itemCards {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .itemCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 150px;
      border-radius: 100%;
    }

    img:hover {
      cursor: pointer;
      scale: 1.05;
    }
  }
}

#newsletter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #e2e2e2;
  padding: 20px;
  margin-top: 50px;

  span {
    font-weight: 550;
    font-size: 15px;
  }

  input {
    border: none;
    padding: 5px 10px;
    width: 300px;
  }

  button {
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
  }

  button:hover {
    background-color: #000000;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2b97a4;
  color: white;

  #top {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px 40px;

    #about {
      width: 60%;
    }
  }

  #bottom {
    text-align: center;
    background-color: #165057;
    width: 100%;
    padding: 5px 0px;
  }

  .footeritem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }

    #links {
      display: flex;
      flex-direction: column;
    }
  }

  .footerheading {
    font-weight: bold;
  }
}
@media screen and (max-width: 768px) {
  #header {
    flex-direction: column;
    gap: 20px;
  }
  .itemCards {
    flex-direction: column;
  }
  #content {
    flex-direction: column;
    align-items: center;

    #about {
      width: 90%;
    }
    #howto {
      width: 90%;
    }
  }
  #exploreCards {
    display: none;
  }
  footer {
    #top {
      flex-direction: column;
      gap: 20px;
      align-items: center;

      #about {
        width: 90%;
      }
    }
  }
  #banner {
    margin: 0px;
    padding: 0px
  }
  #banner img {
    border-radius: 0px;
  }
}

@media screen and (max-width: 576px) {
  #header {
    flex-direction: column;
    gap: 20px;

    #searchbar {
      input {
        width: 300px;
      }
    }
  }
  #navbar {
    flex-direction: column;
    gap: 20px;

    #navlinks {
      flex-direction: column;
      gap: 20px;
    }
  }

  .itemCards {
    flex-direction: column;
  }
  #content {
    flex-direction: column;
    align-items: center;

    #about {
      width: 80%;
    }
    #howto {
      width: 80%;
    }
  }
  #newsletter {
    flex-direction: column;
    gap: 20px;
  }
  footer {
    #top {
      flex-direction: column;
      gap: 20px;
      align-items: center;

      #about {
        width: 80%;
      }
    }
  }
}

#consultModalContainer   {

    .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #closeBtn {
            background-color: transparent;
            border: none;
            outline: none;
            border-radius: 100%;
        }
    
        #closeBtn:hover {
            cursor: pointer;
            color: #2b97a4;
        }
    }

    .modal-footer button {
        margin: 0 auto;
        background-color: #155b63;
        color: white;
        font-weight: 600;
    }

    .modal-footer button:hover {
        background-color: #2b97a4;
    }

    form .form-group{
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: 10px;
        margin: 10px 0px;
    }
}